
{% extends 'parent.html' %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block main %}

<!-- This will contain the Main part of the html page-->
<main>
    <h2 class="text-center">Add Book</h2>
    <div class="container">
        <form action="/library" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="Text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">description</label><br>
                <textarea name="description" class="form-control" placeholder="Leave a comment here"
                    id="description"></textarea>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">author</label><br>
                <textarea name="author" class="form-control" placeholder="Leave a comment here"
                    id="author"></textarea>
            </div>
            <!-- <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-success btn-lg">Add</button>
        </form>
    </div>
    <u>
        <h2 class="text-center">All Book list</h2>
    </u>
    <div class="container List my-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Title</th>
                    <th scope="col">description</th>
                    <th scope="col">author</th>

                </tr>
            </thead>
            <tbody>

                {% for book in books %}
                <tr>
                    <th scope="row">{{book.id}}</th>
                    <td>{{book.title}}</td>
                    <td>{{book.description}}</td>
                    <td><a href="/update?sno={{book.id}}" class="btn btn-secondary">Update</a> </td>
                    <td><a href="/delete?sno={{book.id}}" class="btn btn-danger">Delete</a></td>
                </tr>

                {% endfor %}


            </tbody>
        </table>
    </div>

</main>
{% endblock main %}